
.list1{
    border: 1px solid black;
    width: 200px;
    height: 250px;
    border-radius: 5%;
    background-image:url(pic.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.list2{
    border: 1px solid black;
    width: 200px;
    height: 250px;
    border-radius: 5%;
    background-image:url(pic2.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.list3{
    border: 1px solid black;
    height: 250px;
    border-radius: 5%;
    background-image:url(pic3.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.list4{
    border: 1px solid black;
    width: 200px;
    height: 250px;
    border-radius: 5%;
    background-image:url(pic4.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.list5{
    border: 1px solid black;
    width: 200px;
    height: 250px;
    border-radius: 5%;
    background-image:url(pic5.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.list6{
    border: 1px solid black;
    width: 200px;
    height: 250px;
    border-radius: 5%;
    background-image:url(pic6.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.putin{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    }
.stalin{
    display: flex;
    list-style: none;
    width: 200px;
}
.list_itme{
    font-size: 27px;
    padding-top: 10px;
}
.itme{
    font-size: 50px;
}
.text{
     padding-top: 10px;
}
.list1::before{
    content: "ФИТНЕС";
    background-color: rgba(0, 0 ,0 ,.25);
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
}
.list2::before{
    content: "ЛИЧНЫЙ ДИЕТОЛОГ";
    background-color: rgba(0, 0 ,0 ,.25);
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
}


.list3::before{
    content: "ЙОГА";
    background-color: rgba(0, 0 ,0 ,.25);
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
}
.list4::before{
    content: "ПЕТЛИ ТРХ";
    background-color: rgba(0, 0 ,0 ,.25);
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
}
.list5::before{
    content: "КРОССФИТ";
    background-color: rgba(0, 0 ,0 ,.25);
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
}
.list6::before{
    content: "БАССЕЙН";
    background-color: rgba(0, 0 ,0 ,.25);
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
}